#entete h1{
    color: rgb(44,100,246);

    margin-left: 30%;
}
#content{
    border: solid 5px black;
}
#buttons button{
    padding: 25px 70px;
    margin: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: white;

}
#entete div{
    border: solid black 2px;
    width: 90%;
    margin-left: 5%;
}
#b1{
    background-color: rgb(70,105,112);
}
#b2{
    background-color: rgb(89,170,83);
}
#b3{
    background-color: rgb(90,91,87);
}

table{
    border: 3px solid black;

    min-width: 100%;
    margin: 20px;

}

th{
    border: 2px solid black;
    background-color: rgb(183,182,169);
}
.profile{
    width: 100px;
    padding: 20px;
}
td{
    border: 2px solid black;

}
.stat{

    flex: 1 1 35%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
.palm{
    background-color: forestgreen;
    color: white;
    text-align: start;
    padding-left: 13px;
    width: 50%;
}
.paa{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.name{
    background-color: rgb(44,100,246);
    color: white;
    font-size: 25px;
    padding: 3px;
    border-radius: 3px;
}
#tabl{
    width: 95%;
}